alabaster==0.7.12
apeye==0.7.0
appdirs==1.4.4
attrs==20.3.0
autodocsumm==0.2.2
babel==2.9.0
beautifulsoup4==4.9.3
cachecontrol==0.12.6
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
coincidence==0.2.3
colorama==0.4.4
consolekit==1.1.1
coverage==5.5
coverage-pyver-pragma==0.2.4
css-parser==1.0.6
deprecation==2.1.0
deprecation-alias==0.1.1
dict2css==0.2.2
docutils==0.16
domdf-python-tools[testing]>=2.0.1
filelock==3.0.12
html5lib==1.1
idna==2.10
imagesize==1.2.0
importlib-metadata==3.4.0
iniconfig!=1.1.0,==1.1.1
jinja2==2.11.3
lockfile==0.12.2
markupsafe==1.1.1
mistletoe==0.7.2
msgpack==1.0.2
natsort==7.1.1
packaging==20.9
pluggy==0.13.1
py==1.10.0
pydash==4.9.3
pygments==2.8.1
pyparsing==2.4.7
pytest==6.2.2
pytest-cov==2.11.1,>=2.8.1
pytest-datadir==1.3.1
pytest-randomly==3.5.0
pytest-regressions==2.2.0
pytest-timeout==1.4.2
pytz==2021.1
pyyaml==5.4.1
requests==2.25.1
requests-file==1.5.1
ruamel-yaml==0.16.13
ruamel-yaml-clib==0.2.2
six==1.15.0
snowballstemmer==2.1.0
soupsieve==2.2
sphinx-autodoc-typehints==1.11.1
sphinx-prompt==1.3.0
sphinx-tabs==2.1.0
sphinx-toolbox==2.0.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
tldextract==3.1.0
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.26.3
webencodings==0.5.1
zipp==3.4.1
